@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.centered {
  text-align: center;
}
.centered img {
  max-width: 300px;
}
